@model WebServiceTool.ViewModels.SelectWebServiceVM
@{
    ViewData["Title"] = "Home Page";
}

<br>
<div class="row">
    @* In order for horizotnal form to work need to remove div around it *@
    @using (Html.BeginForm("About", "Home", FormMethod.Post, new { id = "webServiceForm", @class = "form-horizontal" }))
    {
        <div class="col-sm-12">
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            <div class="form-group">
                @Html.LabelFor(m => m.Credentials.CompanyID, new { @class = "col-sm-2 control-label" })
                @Html.TextBoxFor(m => m.Credentials.CompanyID, new { @class = "col-sm-2 form-control" })
                @Html.ValidationMessageFor(m => m.Credentials.CompanyID)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Credentials.Username, new { @class = "col-sm-2 control-label" })
                @Html.TextBoxFor(m => m.Credentials.Username, new { @class = "col-sm-2 form-control" })
                @Html.ValidationMessageFor(m => m.Credentials.Username)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Credentials.Password, new { @class = "col-sm-2 control-label" })
                @Html.TextBoxFor(m => m.Credentials.Password, new { @class = "col-sm-2 form-control" })
                @Html.ValidationMessageFor(m => m.Credentials.Password)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.AvailableWebServices, new { @class = "col-sm-2 control-label" })
                @Html.DropDownListFor(m => m.SelectedWebService, Model.AvailableWebServices, "--Select Web Service--", new { @class = "col-sm-2 form-control" })
            </div>
        </div>
        <div class="col-sm-12" id="RequestFormArea"></div>

    }
</div>



@section Scripts{
    <script>
        $(document).ready(function () {
            $("#SelectedWebService").on('change', function () {
                var selectedURL = this.value;
                $.get("/" + selectedURL, function (htmlResponse) {
                    $("#RequestFormArea").append(htmlResponse);

                });
                //alert(window.location.protocol + "//" + window.location.host + "/" + this.value);
                //$.ajax({
                //    type: "POST",
                //    url: window.location.protocol + "//" + window.location.host + "/" + selectedURL,
                //    success: function (htmlResponse) {
                //        $("#RequestFormArea").append(htmlResponse);
                //    },
                //    failure: function (htmlResponse) {
                //        alert("Something went wrong: " + htmlResponse.failure)
                //    },
                //    error: function (htmlResponse) {
                //        alert("There was an error: " + htmlResponse.error)
                //    }
                //});
            });
        });

    </script>
}